main {
    padding: $padding-1;

    div {
        border: $border-2;
        text-align: right;

        p {
            color: darkgreen;
            background-color: honeydew;
            text-align: center;
                    
        }
    }
}

